@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    display: grid;
    grid-template: auto 313px auto / auto 313px auto;
    grid-gap: 2em;
    padding: 2em;
}
.header .hamburg{
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}
.header img{
    width: 313px;
    height: 313px;
    object-fit: cover;
    grid-column: 2/-2;
    grid-row: 2/-2;
}
.header h1{
    grid-column: 3;
    grid-row: 2;
    font-weight: 300;
    margin-top: 1.5em;
}
.header h1 span{
    display: block;
    font-weight: 700;

}
.header p{
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #1C4B43;
    color: white;
    letter-spacing: .2em;
    padding: .5em;
}

.section_what_i_do{
    background-image: url('img/services-bg.jpg');
    color: white;
    padding: 5em 8em;
    gap: 1em 3em;
    display: grid;
    text-align: center;
    grid-template-areas: 
    ".......    header   ......."
    "section1 section2 section3"
    "........ button .........."
    ;
}

.section_what_i_do h1{
    grid-area: header;
    font-size: 3em;
    color: #14CFAE;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.section_what_i_do .section1{
    grid-area: section1;

}
.section_what_i_do .section2{
    grid-area: section2;

}
.section_what_i_do .section3{
    grid-area: section3;

}
.section_what_i_do button{
    grid-area: button;
    background-color: #14CFAE;
    border: unset;
    justify-self: center;
    padding: 1em 3em;
    /* font-weight: 700;
    font-size: 1em;
    letter-spacing: .1em; */
    transition: 1s;

}

.section_what_i_do button:hover, .section_what_i_do button:focus{
    transform: scale(1.1);
    transition: 1s;

}

.section_who_am_i{
    display: grid;
    grid-template: 80px auto auto auto 80px / 1fr 556px auto 1fr;
    gap: 2em;
}

.section_who_am_i h1{
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}


.section_who_am_i h4{
    grid-row: 3;
    grid-column: 2;
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;
    background-color: #14CFAE;
    padding: .7em 1em;
    letter-spacing: .1em;
}


.section_who_am_i p{
    grid-row: 4;
    grid-column: 2;
    font-size: 1.1em;
}


.section_who_am_i img{
    grid-row: 2/-2;
    grid-column: 3;
    width: 244px;
    height: 406px;
    object-fit: cover;
}

.section_my_work{
    display: grid;
    background-color: #2E2E2E;
    color: white;
    grid-template: auto auto auto auto / repeat(4, 240px);
    justify-content: center;
    align-content: center;
    padding: 3em 0;
    padding-bottom: 8em;
}

.section_my_work h1{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    margin: 0;
}

.section_my_work p{
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
    font-size: 1em;
    color: #14CFAE;
    font-weight: 700;
}
.section_my_work img{
    width: 240px;
    height: 240px;
}

.footer{
    background-color: #141414;
    color: #14CFAE;
    text-align: center;
    padding :3em 0;
    /* border: 1px solid magenta; */
}
.footer a{
    color: #14CFAE;
    font-weight: 700;
    font-size: 1em;
    /* letter-spacing: .1em; */
    text-decoration: none;
}
.footer ul{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    list-style: none;
}

.footer ul li{
    padding: 1em;
}

nav{
    background-color: black;
    color: white;
    font-size: 3em;
    font-weight: bold;
    /* display: none; */
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    padding: 1em;

}
